/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  width: 100%;
  background-color: #EEE;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
  font-size: inherit;
  font: 100%;
}

@font-face {
    font-family: "Computer Modern";
    src: url('/fonts/Serif/cmunrm.woff') format('woff');
  }

body {
  font-size: 20px;
  font-family: "Computer Modern", "Georgia", serif;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.2em;
  color: #f00;
}

ul.posts li a {
  margin: 0;
  padding: 0;
}

ul.posts li p {
  margin: 0;  
  padding: 0;
}

ul.posts span#summary {
  color: #FF355E;
  font-size: .8em; 
  margin: 0;  
  padding: 0;
  line-height: .05;
}

#about-me {
  margin: 1em 0 2em 0em;
}

#about-me p{
  margin: 0;
  padding: 0;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.container {
  float: right;
  width: 85%;
}

.site {
  font-size: 115%;
  text-align: justify;
  width: 60%;
  margin: 3em auto 2em;
  line-height: 1.4em;
}

h1 {
  color: #000;
  font-size: 1.5em;
}

h1:hover {
  color: #444;
}

.sidebar {
  float: right;
  width: 15%;
  margin-top: 3em;
  background-color: #DC143C;
}

.sidebar a {
  margin: 1em;
  width: 100%;
  font-size: 1.25em;
  color: #eee;
}

.sidebar a:hover {
  color: #fff;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #dde;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #dde;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

code {
  font-family: 'Source Code Pro', sans-serif;
  font-size: .75em;
}
@media only screen and (max-width: 1200px) {
  .site {
    width: 75%;
    margin: 3em auto 2em;    
  }  
}

@media only screen and (max-width: 768px) {
  .container {
    float: none; 
    margin-top: 1em;
    width: 100%;
  }
  
  .site {
    margin: 0 1em;
    width: auto;
  }

  .sidebar {
    float: none; 
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.25em;
  }
  .site {
    font-size: 1em;
  }
}
