/*****************************************************************************/
/*
/* Global (across site)
/*
/*****************************************************************************/

@font-face {
    font-family: "Computer Modern";
    src: url('/fonts/Serif/cmunrm.woff') format('woff');
  }
body {
  background: #EEE;
}

body, h1 {
  font-size: 20px;
  font-family: "Computer Modern", "Georgia", serif;
}

#content {
  width: 65%;
  font-size: 1.15em;
  text-align: justify;
  margin: 3em auto 2em;
  line-height: 1.4em;
}

#content h1, #content h2 {
  color: #000;
  font-size: 1.5em;
  margin-bottom: 1.1em;
  font-weight: 600;
}

#content h1:hover, #content h2:hover {
  color: #444;
}

#content h2 {
  font-size: 1.2em;
}

#content p {
  margin-top: .8em;
  margin-bottom: .8em;
}

#sidebar {
  margin-top: 3em;
  width: 90%;
  border-right: 1px solid black;
  margin: 1em 0;
}

#sidebar a, #sidebar p {
  text-align: center;
  color: #111;
}

#sidebar a {
  font-size: 1.25em;
  color: #428bca;
}

#sidebar a:hover {
  color: #000;
}

#sidebar p {
  padding-top: .5em;
  line-height: 1.2em;
}

#sidebar-images a:hover {
  text-decoration: none;
}

#sidebar-images a img {
  opacity: 0.8;
  margin-top: 1em;
  margin-right: .4em;
  width: 25%;
  height: 25%;
  max-width: 80px;
  max-height: 80px;
}

#sidebar-images a img:hover{
  opacity: 1;
}

#sidebar-images a img#twitter-img {
  margin-right: 0;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
#content ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding: 0;
}

#content ul.posts li {
  color: #f00;
  padding-bottom: .9em;
}

#content ul.posts li a {
  margin: 0;
}

#content ul.posts li p {
  margin: 0;  
  padding: 0;
  line-height: .8em;
}

#content ul.posts li span#summary {
  color: #FF355E;
  font-size: .8em; 
  margin: 0;  
  padding: 0;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #dde;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #dde;
  padding: 0 .2em;
}

.post pre code {
  border: none;
  font-size: 1.4em;
  line-height: 1.7em;
}

/* terminal */
.post pre.terminal {
  border: 2px solid #000;
  background-color: #dde;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #dde;
}

code {
  font-size: .8em;
}
/*****************************************************************************/
/*
/* Media resets 
/*
/*****************************************************************************/
@media screen and (max-width: 1170px){
  #content {
    width: 80%;
  }
}

@media screen and (max-width: 940px){
  #content {
    width: 90%;
  }
  #sidebar {
    width: 100%;
    border-right: none;
    border-top: 5px solid black;
  }
  #sidebar-images {
    width: 240px;
    margin: .5em auto;
  }
}
