<p></p>
<p><a href="{{ site.url }}/">Home</a></p>
<p>I'm Prajit Ramachandran.</p>
<p>This is my programming and math blog.</p>
<div id="sidebar-images">
	<a href="https://twitter.com/ramprajit">
	  <img src="https://abs.twimg.com/a/1376318319/images/resources/twitter-bird-light-bgs.png" alt="Twitter" id="twitter-img"/>
	</a>
	<a href="https://github.com/PrajitR">
	  <img src="{{ site.url }}/images/github-mark.png" alt="GitHub" />
	</a>
	<a href="{{ site.url }}/feed.xml">
	  <img src="{{ site.url }}/images/rss-Icon.png" alt="RSS" />
	</a>
</div>
<p> </p>
