<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ page.summary }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
  {% include google_analytics.html %}
</head>
<body>
  <div class="col-12 col-sm-12 col-lg-10 pull-right">
    {{ content }}
  </div>
  <div class="col-12 col-sm-12 col-lg-2 pull-left">
    <div id="sidebar">
        {% include sidebar.html %}
    </div>
  </div>
</body>
</html>
